@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: $fontStack;
}
//Header
header{
    .container{
        @include container;
        .top_nav{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 15px;

            .logo{
                display: flex;
                color:$buttonColor;
                img{
                    width: 21px;
                    height: 21px;
                    margin-right:4px ;
                }
            }
            nav{
               @include nav;
            }
            .connect_btn{
                @include btn(5px 22px, 20px);
                font-size: .92em;
            }
        }

        .btm_nav{
            .banner{
                position: relative;
                img{
                    @include imageFilter(100%);
                }
                .banner_content{
                    position: absolute;
                    top:25%;
                    left:36px;
                    text-align: center;
                    
                    .travel{
                       color: white;
                       h2{
                           font-size: 2.5em;
                           text-transform: uppercase;
                       }
                       p{
                           width: 35%;
                           margin:20px auto;
                       }
                    }
                    form{
                        border: 1px solid white;
                        width: 58%;
                        margin:0 auto;
                        padding: 8px;
                        display: flex;
                        justify-content: space-between;
                        text-align: left;
                        background-color: #fff;
                        color: $formColor1;
                        font-size: 0.92em;
                        border-radius: 5px;

                        div{
                            border-right: 1px solid $lineColor;
                            margin-right: 5px;
                            width:30%;
                            padding:0 8px 0 0px;

                           &:nth-child(3){
                            border:none;
                           }
                        }
                        label{
                            font-weight: 500;
                        }
                    }
                    input[type=text]{
                        padding: 5px;
                        width: 90%;
                        border: none;

                        &:focus{
                            outline: none;
                        }
                    }
                    input[type=submit]{
                        @include btn(5px 10px, 3px);
                        border:none;
                    }
                }
            }
        } 
    }
}
//Header

//Section
section{
    margin:70px 0;
    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        div{
            width: 18%;
            box-shadow: 10px 10px 12px #F1FAFF;
            color:#0F0F0F;
            padding: 30px 30px 30px 0;

            img{
                width: 50px;
                height: 50px;
                padding: 10px;
                background-color: $imgBgColor;
                border-radius: 4px;
                margin-bottom: 10px;
            }
            p{
                font-size: .8em;
                &:nth-child(2){
                    font-size: 1.05em;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
//Section

//Main
main{
    background-color: #F1FAFF;
    margin-bottom: 140px;
    .container{
        @include container;
        padding: 40px 0;
        //for the filter
        .show {
            display: grid;
          }
        h2{
            @include hd2;
        }
            #myBtnContainer{
                margin: 40px auto 30px auto;
                background-color: #F1FAFF;
                border-bottom: .5px solid #A7A7A7;
                padding-bottom: 10px;
                width: 80%;
                text-align: center;
                span{
                   margin:0 10px 0 10px;
                   font-weight: 500;
                   cursor: pointer;
                   
                }
                .active{
                    border-bottom: 3.5px solid #163235;
                    padding-bottom: 7.5px;
                }
            }
        .tab_content{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 25px;
            row-gap: 120px;
            
            .city{
                @include city;                
            }
            .hide{
                display: none;
            }
        }
    }
}
//Main

//Article
article{
    margin-bottom: 140px;
    .container{
        @include container;
        h2{
                @include hd2;
                // font-size: 50%;
        }
        img{
            @include imageFilter(100%);      
        }
        .blogs{
            display: flex;

            .kilimanjaro{  
                cursor: pointer; 
                position: relative;
                 p{
                    @include pAbsolute;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
            .plane, .taj_mahal{
                cursor: pointer;
                position: relative;
                p{
                    @include pAbsolute;
                    font-size: 1.5em;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
//Article

//Aside
aside{
    margin-bottom: 140px;
    .container{
        @include container;
        h2{
            @include hd2;
            margin-bottom: 50px;
        }
        .wrapper{
            display: flex;
            justify-content: space-between;

            .row{
                width: 48%;
                box-shadow: 10px 10px 12px #F1FAFF;
                padding: 30px 10px 30px 30px;
                &:hover{
                    transform: scale(1.05);
                    cursor: pointer;
                }
                p{
                    font-size: 1.1em;
                }
                .user{
                    display: flex;
                    margin: 40px 0 0 0;

                    img{
                        width: 45px;
                        height: 45px;
                        margin-right: 20px;
                    }
                    p:nth-child(1){
                        font-weight: 500;
                    }
                    p:nth-child(2){
                        color:$lightTextColor;
                    }
                }
            }
        }
        
    }
}
//Aside

//Footer
footer{
    .container{
        @include container;
        display: flex;
        justify-content: space-between;
        padding: 35px 15px;
        background-color: $footerBgColor;
        border-radius: 10px;
    }
    .copyright{
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    nav{
        @include nav;
        a{
            color:#000;
        }
    }
    .socials{
        a{
            font-size: 25px;
            text-decoration: none;
            color:white;
            background-color: black;
            padding: 8px;
            margin-right: 10px;
            border-radius: 50px;
        }
    }
}